html{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color:aqua;
}

body{
    width: 700px;
    margin: 150px auto;
    background-color: skyblue;
    padding: 200px 20px 20px 20px;
    border: 5px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: blue;
    text-shadow: 2px 2px 2px black;
}


